/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .logo i {
    font-size: 40px;
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  .owl-nav {
    display: none !important;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .logo i {
    font-size: 40px;
  }
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }

  .owl-nav {
    display: none !important;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }

  .owl-nav {
    display: none !important;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }

  .owl-nav {
    display: none !important;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
